.DS_store
.vscode/*
*/objs/*
*.o
freefps
DoomEditor
editor/libft/libft.a
DoomNukem
checksum.dSYM/
.idea/
cmake-build-debug/
engine/objs/
game/objs/
editor/objs/
doom_editor
doom_nukem
wolf3d
lib/libft/libft.a
